<template>
    <div>
        <div class="col-md-3"><label for="">Contraseña nueva</label><input type="password" class="form form-control" v-model="pass1" id="pass1"></div>
        <div class="col-md-3"><label for="">Repita contraseña</label><input type="password" class="form form-control" v-model="pass2" id="pass2"></div>
        <div class="col-md-3"><label for="">Contraseña anterior</label><input type="password" class="form form-control" v-model="passold" id="passold"></div>
        <div class="col-md-3"><label for="">&nbsp;</label><button class="btn btn-success" @click="guardar()">Guardar</button></div>
    </div>
</template>
<script>
const Swal = require('sweetalert2')
export default {
    data()
    {
        return {
            base :'',
            pass1:'',
            pass2:'',
            passold:''
        }
    },
    methods:{
        guardar()
        {
            let me = this;
            axios.
            post(base+'/pass/change',{
                pass1:me.pass1,
                pass2:me.pass2,
                passold:me.passold
            }).
            then(function (response) 
	        {
                Swal(response.data.message);
	        });
        }
    },
    mounted()
    {
        this.base = base;
    }

}
</script>
