<template>
        <div class="container-fluid">
            <div>
                <div class="col-md-6">
                    <label>Nombre</label>
                    <input class="form form-control" name="name" id="name" v-model="name" required>
                </div>
                <div class="col-md-6">
                    <label>Correo electronico</label>
                    <input type="email" class="form form-control" name="email" id="email" v-model="email" required>
                </div>
                <div class="col-md-6">
                    <label>Dcoumento</label>
                    <input class="form form-control" name="documento" v-model="documento" id="documento" required/>
                </div>
                <div class="col-md-6">
                    <label>Rol</label>
                    <select class="form form-control" name="rol" v-model="rol" id="rol" required>
                        <option v-for="rol in arrayRoles" :key="rol.id" :value="rol.id">{{rol.name}}</option>
                    </select>
                </div>
                
                <div class="col-md-6">
                    <label>Desabilitar</label>
                    <select class="form form-control" v-model="desabilitado" name="isblocked" id="isblocked" required>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                    </select>
                </div>
                <br/>
                <div class="col-md-12">
                    <button @click="guardar()" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar </button>
                </div>
            </div>
    </div>
</template>

<script>
export default {
    data()
    {
        return{
            id:'',
            name:'',
            email:'',
            documento:'',
            desabilitado:0,
            rol:'',
            arrayRoles:[],
        }
    },
    methods:{
        datos()
        {
            let me=this;
	        axios.get(base+'/usuarios/roles/').then(function (response) 
	        {
                var respuesta = response.data;
                me.arrayRoles=respuesta.roles;
                me.desabilitado=respuesta.isblocked;
                me.documento=respuesta.documento;
	        })
	        .catch(function (error, msj)
	        {
	            console.log(error, msj);
	        });
        },
        guardar()
        {
            let me=this;
	        axios.post(base+'/usuarios/editsave/'+me.id,{
                name:me.name,
                email:me.email,
                arrayRoles:me.roles,
                rol:me.rol,
                isblocked:me.desabilitado,
                documento:me.documento
            }).then(function (response) 
	        {
                me.$router.push('/dashboard/usuarios');
	        })
	        .catch(function (error, msj)
	        {
	            console.log(error, msj);
	        });
        }
    },
    mounted()
    {
        let me = this;
        me.id = me.$route.params.id;
        me.datos();
    }
}
</script>
