<template>
    <div class="container-fluid">
        <div class="col-md-12">
        <router-link :to="{ name: 'usersnew' }"  class="btn btn-success"><i class="fa fa-plus"></i> Nuevo</router-link>
        </div>
        <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Opciones</th>
                    <th>Nombre</th>
                    <th>documento</th>
                    <th>e-Mail</th>
                    <th>Bloqueado</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in arrayUsers" :key="user.id">
                    <td>
                        <button @click="editar(user.id)" class="btn btn-warning"><i class="fas fa-pencil-alt"></i> Editar</button>
                        <button @click="borrar(user)"    class="btn btn-danger" ><i class="fas fa-trash-alt"></i> Borrar</button>
                        <button @click="restablecer(user.id)" class="btn btn-success" ><i class="fas fa-sync-alt"></i> Restablecer contraseña</button>
                    </td>
                    <td>
                        {{user.name}}
                    </td>
                    <td>
                        {{user.documento}}
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                        <span v-if="user.isblocked==1" style="color:#dc3545"><i class="fas fa-user-times"></i></span>
                        <span v-if="user.isblocked==0" style="color:#28a745"><i class="fas fa-user-check"></i></span>
                    </td>
                    
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</template>
<script>
const Swal = require('sweetalert2')
export default {
    data(){
        return{
            arrayUsers:[]
        }
    },
    methods:{
        restablecer(id)
        {
            let me=this;
	        axios.post(base+'/usuarios/restablecer',{id:id}).then(function (response) 
	        {
                alert('Se restablecio la contraseña');
	        })
	        .catch(function (error, msj)
	        {
	            console.log(error, msj);
	        });
        },
        editar(id)
        {
            let me = this;
			me.$router.push('/dashboard/usuarios/edit/'+id);
        },
        list()
        {
            let me=this;
	        axios.get(base+'/usuarios/list').then(function (response) 
	        {
                var respuesta= response.data;
                console.log(respuesta);
	            me.arrayUsers=respuesta.data;
	        })
	        .catch(function (error, msj)
	        {
	            console.log(error, msj);
	        });
        },
        borrar(data)
		{
            console.log(data);
				Swal({
					title: 'Borrando',
					text: 'Va a borrar a "'+data.name+'" ¿Está seguro?',
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Si, borralo',
					cancelButtonText: 'Cancelar'
				}).then((result) => 
				{
					if (result.value) 
					{
						let me = this;
						axios.post('/usuarios/delete',{id:data.id}).then(function (response) 
						{
							me.list();
							Swal('Borrado','"'+data.name+'" ha sido borrado con éxito','success')
						})
					}
					else if (result.dismiss === Swal.DismissReason.cancel)
					{
						Swal('Cancelado','No se ha eliminado a "'+data.name+'"','error')
					}
				})
			}
    },
	mounted() {
        this.list();
	}
}
</script>
