<template>
<div>
	<div class="row">
		<label  class="col-md-3">Seleccione un año</label>
		<div class="col-md-9">
			<select name="year" id="year" @change="Listar()" v-model="year" class="form form-control">
				<option value="2018">2018</option>
				<option value="2019">2019</option>
				<option value="2020">2020</option>
				<option value="2021">2021</option>
			</select>
		</div>
	</div>
	<div class="row">
		<label class="col-md-3">Seleccione una unidad de negocio</label>
		<div class="col-md-9">
			<select name="" id="" class="form form-control" @change="CentroCostos()" v-model="id_centro_costos_tipo">
				<option value="">Seleccione</option>
				<option v-for="(item,index) in arrayCentroCostoTipo" :value="item.id" :key="index">{{item.nombre}}</option>
			</select>
		</div>
	</div>
	<div class="row">
		<label class="col-md-3">Seleccione un centro de costos</label>
		<div class="col-md-9">
			<select class="form form-control" id="" v-model="id_centro_costos" @change="Listar();">
				<option value="">Seleccione</option>
				<option v-for="(item,index) in arrayCentroCosto" :value="item.id" :key="index">{{item.codigo_ceco}} - {{item.nombre}}</option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<label for="year_ant">
				Seleccionar valores con respecto al año anterior
				<input type="checkbox" name="year_ant" id="year_ant" @click="Listar()"/>
			</label>
		</div>
	</div>
	<div class="row">
		<label class="col-md-3">Busqueda por codigo</label>
		<div class="col-md-9">
			<input type="text" class="form form-control" v-model="search">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6" v-if="SiYearAnt">
			<label>
				Aumento porcentual
			</label>
			<input type="number" class="form-control" min="0" v-model="porcentaje" :change="calcularValores()"/>
		</div>
	</div>
	<br>
	<table class="table table-hover" v-for="(cup,index) in arrayCups" :key="index">
		<tr>
			<th  colspan="4" align="center">{{cup.nombre}}</th>
		</tr>
		<tbody v-for="(centro,index2) in cup.centro_costos" :key="index2">
			<tbody v-for="(cupsdata,index3) in centro.cups" :key="index3">
				<tr v-if="index3==0">
					<td align="center" colspan="3"><strong>{{centro.codigo_ceco}}</strong></td>
					<td align="center" colspan="1"><strong>{{centro.nombre}}</strong></td>
				</tr>
				<tr v-if="index3==0">
					<td width="10%" align="center"><strong>Codigo Cups</strong></td>
					<td width="50%" align="center"><strong>Descripcion</strong></td>
					<td width="20%" align="center"><strong>Tarifa</strong></td>
					<td width="20%" align="center"><strong>Opciones</strong></td>
				</tr>
				<tr v-if="(search.length>0 && search==cupsdata.codigo) || (search.length=='')">
					<td>{{cupsdata.codigo}}</td>
					<td>{{cupsdata.nombre}}</td>
					<td><input type="number" v-model="cupsdata.valor_tarifa" class="form form-control input" :id="'input_'+cupsdata.id" v-on:keyup.27="guardarFocsus()" v-on:keyup.13="enter('input_'+cupsdata.id)"/></td>
					<td>
						<button class="btn btn-success" @click="editar(cupsdata.id)"><i class="fas fa-pencil-alt"></i> Editar</button>
						<button class="btn btn-danger" @click="borrar(cupsdata)"><i class="fas fa-trash-alt"></i> Borrar</button>
					</td>
				</tr>
			</tbody>
		</tbody>
	</table>
	<button @click="Guardar()" id="guardar_anno" class="btn btn-success btn-focus"><i class="fa fa-save"></i> Guardar</button>
	<button @click="nuevo()" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo cup</button>
	
</div>
 
</template>

<script>
const Swal = require('sweetalert2')
	export default 
	{
		data ()
	    {
			return {
				search:'',
				arrayCups:[],
				year:'',
				SiYearAnt:true,
				porcentaje:0,
				arrayCentroCostoTipo:[],
				arrayCentroCosto:'',
				id_centro_costos_tipo:'',				
				id_centro_costos:'',
	        }
		},
	    methods:{
			calcularValores()
			{
				let me = this;
				$.each(me.arrayCups,function(index,value)
				{
					value.valor_tarifa
					=
					(value.valor_tarifa_original*(1+(me.porcentaje/100))).toFixed(0);
				});
			},
			CentroCostos()
			{
				let me = this;
				axios.get(base+'/centrocostos/select/'+me.id_centro_costos_tipo).then(function (response) 
				{
					me.arrayCentroCosto=response.data;
				})
	            .catch(function (error, msj)
	            {
	                console.log(error, msj);
	            });
			},
			CentroCostoTipo()
			{
				let me = this;
				axios.get(base+'/centrocostos/all').then(function (response) 
				{
					me.arrayCentroCostoTipo=response.data;
				})
	            .catch(function (error, msj)
	            {
	                console.log(error, msj);
	            });
			},
			enter(id_actual)
			{
				var actual=false;
				var paso=false;
				$.each($('.input'),function(index,value)
				{
					if(actual)
					{
						$(value).focus();
						$(value).select();
						actual=false;
						paso=true;
					}
					if($(value).attr('id')==id_actual)
					{
						actual=true;
					}
				});
				if(!paso)
				{
					let me = this;
					me.guardarFocsus()
				}
			},
			guardarFocsus()
			{
				$('#guardar_anno').focus();
			},
			editar(id)
			{
				let me = this;
				me.$router.push('/dashboard/cups/editar/'+id);
			},
			borrar(data)
			{
				Swal({
					title: 'Borrando',
					text: 'Va a borrar "'+data.nombre+'" ¿Está seguro?',
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Si, borralo',
					cancelButtonText: 'Cancelar'
				}).then((result) => 
				{
					if (result.value) 
					{
						let me = this;
						axios.post('/cups/delete',{id:data.id}).then(function (response) 
						{
							me.Listar();
							Swal('Borrado','"'+data.nombre+'" ha sido borrado con éxito','success')
						})
					}
					else if (result.dismiss === Swal.DismissReason.cancel)
					{
						Swal('Cancelado','No se ha eliminado "'+data.nombre+'"','error')
					}
				})
			},
			nuevo()
			{
				let me = this;
				me.$router.push('/dashboard/cups/nuevo');
			},
			Guardar()
			{
				let me = this;
				axios.post('/cups/saveYear',{data:me.arrayCups,year:me.year}).then(function (response) 
	            {
					Swal('guardado');
	                me.Listar()
	            })
	            .catch(function (error, msj)
	            {
	                console.log(error, msj);
	            });
			},
			Listar()
	        {
	            let me=this;
				var url= '/cups/all';
				me.SiYearAnt=$('#year_ant').prop('checked');
				me.porcentaje = (me.SiYearAnt)?me.porcentaje:0;
				var yearfind=(me.SiYearAnt)?(parseInt(me.year)-1):parseInt(me.year);
				axios.post(url,{year:yearfind,id_centro_costos_tipo:me.id_centro_costos_tipo,id_centro_costos:me.id_centro_costos}).then(function (response) 
	            {
					var respuesta= response.data;
	                me.arrayCups=respuesta;
	            })
	            .catch(function (error, msj)
	            {
	                console.log(error, msj);
	            });
	        }
	    },
	    mounted() {
			let me = this;
			me.base = base;
			me.year = '2019';
			me.CentroCostoTipo();
			//me.Listar();
	    }
	}
</script>