<template>
<div class="container-fluid">
    <h2>NUEVO CUP </h2>
    <div class="row">
        <label class="col-md-3">Codigo</label>
        <div class="col-md-6">
            <input type="text" id="" name="" v-model="codigo" class="form form-control">
        </div>
    </div>
    <div class="row">
        <label class="col-md-3">Nombre</label>
        <div class="col-md-6">
            <input type="text" id="" name="" v-model="nombre" class="form form-control">
        </div>
    </div>
   	<div class="row">
		<label class="col-md-3">Seleccione una unidad de negocio</label>
		<div class="col-md-9">
			<select name="" id="" class="form form-control" @change="CentroCostos()" v-model="id_centro_costos_tipo">
				<option value="">Seleccione</option>
				<option v-for="(item,index) in arrayCentroCostoTipo" :value="item.id" :key="index">{{item.nombre}}</option>
			</select>
		</div>
	</div>
	<div class="row">
		<label class="col-md-3">Seleccione un centro de costos</label>
		<div class="col-md-9">
			<select class="form form-control" id="" v-model="id_centro_costos">
				<option value="">Seleccione</option>
				<option v-for="(item,index) in arrayCentroCosto" :value="item.id" :key="index">{{item.codigo_ceco}} - {{item.nombre}}</option>
			</select>
		</div>
	</div>
    <div class="col-md-12">
        <button class="btn btn-success" :disabled="id_centro_costos=='' || codigo=='' || nombre==''" @click="guardar()"><i class="fa fa-save"></i> Guardar</button>
    </div>
</div>
</template>
<script>
const Swal = require('sweetalert2')
    export default 
    {
	    data ()
	    {
            return {
                codigo:'',
                nombre:'',
                id_centro_costos:'',
                arrayCentroCosto:[],
                arrayCentroCostoTipo:[],
                id_centro_costos_tipo:''
            }
        },
        methods:
        {            
            guardar()
            {
                let me=this;
                axios.post(base+'/cups/newSave',{
                    id_centro_costos:me.id_centro_costos,
                    codigo:me.codigo,
                    nombre:me.nombre
                }).then(function (response) 
                {
                    Swal('guardado');
                    me.$router.push('/dashboard/cups');
                })
                .catch(function (error, otracosa) 
                {
                    console.log(error, otracosa);
                });
            },
            CentroCostos()
			{
				let me = this;
				axios.get(base+'/centrocostos/select/'+me.id_centro_costos_tipo).then(function (response) 
				{
					me.arrayCentroCosto=response.data;
				})
	            .catch(function (error, msj)
	            {
	                console.log(error, msj);
	            });
			},
			CentroCostoTipo()
			{
				let me = this;
				axios.get(base+'/centrocostos/all').then(function (response) 
				{
					me.arrayCentroCostoTipo=response.data;
				})
	            .catch(function (error, msj)
	            {
	                console.log(error, msj);
	            });
			},


        },
        mounted() 
        {
            this.CentroCostoTipo();
	    }
    }
</script>