<template>
<div class="container-fluid">
    <h2>EDITAR CUP {{nombreActual}}</h2>
    <div class="row">
        <label class="col-md-3">Codigo</label>
        <div class="col-md-6">
            <input type="text" id="" name="" v-model="codigo" class="form form-control">
        </div>
    </div>
    <div class="row">
        <label class="col-md-3">Nombre</label>
        <div class="col-md-6">
            <input type="text" id="" name="" v-model="nombre" class="form form-control">
        </div>
    </div>
    <div class="col-md-12">
        <button class="btn btn-success" :disabled='inactivo' @click="guardar()"><i class="fa fa-save"></i> Guardar</button>
    </div>
</div>
</template>
<script>
    export default 
    {
	    data ()
	    {
            return {
                inactivo:false,
                id:'',
                codigo:'',
                nombre:'',
                nombreActual:''
            }
        },
        methods:
        {            
            guardar()
            {
                let me=this;
                me.inactivo=true;
                axios.post(base+'/cups/editSave',{
                    codigo:me.codigo,
                    nombre:me.nombre,
                    id:me.id
                }).then(function (response) 
                {
                    me.$router.push('/dashboard/cups');
                })
                .catch(function (error, otracosa) 
                {
                    console.log(error, otracosa);
                });
            },
            datos()
            {
                let me=this;
                axios.get(base+'/cups/value/'+me.id).then(function (response) 
                {
                    me.codigo=response.data.codigo;
                    me.nombre=response.data.nombre;
                    me.nombreActual=me.nombre;
                })
                .catch(function (error, otracosa) 
                {
                    console.log(error, otracosa);
                });
            }
        },
        mounted() 
        {
            let me = this;
            me.inactivo=false;
            me.id = me.$route.params.id;
            me.datos();
	    }
    }
</script>