<template>
	<div class="container-fluid">
		<div class="row">
			<label  class="col-md-3">Seleccione el prestador del servicio</label>
			<div class="col-md-6">
				<select @change="VerCantidadCups()" name="prestadorServicio" id="prestadorServicio" v-model="prestadorServicio" class="input form form-control">
					<option v-for="prestadores in arrayPrestadores" :key="prestadores.id" :value="prestadores.id">{{prestadores.nombre}}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<label  class="col-md-3">Seleccione la fecha</label>
			<div class="col-md-6">
				<datepicker :format="'yyyy-MM-dd'" v-model="date" :input-class="'form form-control'"></datepicker>
			</div>
		</div>
		<div v-if="date!=''">
			<div class="row">
				<label  class="col-md-3">Seleccionó una unidad de negocio</label>
				<div class="col-md-9">
					<input type="text" class="form-control" :value="costos_tipo_nombre" readonly style="background-color:#FFF">
				</div>
			</div>
			<div class="row">
				<label  class="col-md-3">Seleccionó un centro de costos</label>
				<div class="col-md-9">
					<input type="text" class="form-control" :value="costos_nombre" readonly style="background-color:#FFF">
				</div>
			</div>
			<div class="row">
				<label  class="col-md-3">Seleccione el cup</label>
				<div class="col-md-9">
					<autocomplete
						placeholder="Ingrese el nombre o codigo"
						:source="base+'/cups/Search/'+date+'/'+prestadorServicio+'/'"
						@selected="SeleccionCup"
						>
					</autocomplete>
				</div>
			</div>
			<div class="row">
				<label  class="col-md-3">Ingrese la cantidad de cups en el día</label>
				<div class="col-md-9">
					<input class="form form-control" v-model="cupsCantidad"/>
				</div>
			</div>
			<button class="btn btn-success" :disabled="disbale" @click="guardar()"><i class="fas fa-save"></i> Guardar</button>
		</div>
		<div>
			<table class="table">
				<tr>
					<td>#</td>
					<td>Fecha</td>
					<td>Cantidad</td>
					<td>Valor</td>
				</tr>
				<tr v-for="(item,index) in arrayCupsTable " :key="index">
					<td>{{index+1}}</td>
					<td>{{item.fecha}}</td>
					<td>{{item.cantidad_cups}}</td>
					<td>{{item.valor}}</td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>
const Swal = require('sweetalert2')
import Vue from 'vue'
import Datepicker from 'vuejs-datepicker';
import Autocomplete from 'vuejs-auto-complete'
export default {
    components: {
        Datepicker,
        Autocomplete
    },
    data()
    {
        return{
            costos_tipo_nombre:'',
			costos_nombre:'',
			arrayCupsTable:[],
            arrayCategorias:[],
			arrayYear:[],
			disbale:false,
            year:'',
            arrayPrestadores:[],
            prestadorServicio:'',
            arrayCups:[],
            cupsCantidad:0,
            cup:'',
            valorcup:'',
            Diferencia:0,
            total:0,
            date:'',
            base:''
        }
    },
    methods:{
        SeleccionCup(data)
        {
            let me = this;
			me.cup = data.selectedObject.id_cups;
			me.costos_nombre        = data.selectedObject.codigo_ceco + ' - ' + data.selectedObject.costos_nombre;
			me.costos_tipo_nombre   = data.selectedObject.costos_tipo_nombre;
			me.VerCantidadCups();
        },
        guardar()
        {
			let me=this;
			me.disbale=true;
				var fecha=me.date.getFullYear()   + '-' + (me.date.getMonth() +1)    + "-" + me.date.getDate();
	            axios.post(base+'/cups/saveCantidad',{
                    fecha:fecha,
                    id_prestador_servicios:me.prestadorServicio,
					id_cups:me.cup,
					cantidad_cups:me.cupsCantidad
                }).then(function (response) 
	            {
					Swal('guardado');
					me.VerCantidadCups()
					me.disbale=false;
	            })
	            .catch(function (error, msj)
	            {
					console.log(error, msj);
					me.disbale=false;
	            });
		},
		VerCantidadCups()
		{
			let me = this;
			axios.post(base+'/cups/Cantidad',{
					id_cups:me.cup,
					id_prestador_servicios:me.prestadorServicio
                }).then(function (response) 
	            {
					me.arrayCupsTable=response.data.data;
	            })
	            .catch(function (error, msj)
	            {
					console.log(error, msj);
					me.disbale=false;
	            });
		},
        ListarPrestadores()
	    {
	            let me=this;
	            axios.get(base+'/prestadores/listRegister').then(function (response) 
	            {
					me.arrayPrestadores= response.data;
                    me.prestadorServicio=me.arrayPrestadores[0].id;
                    me.arrayYear=me.arrayPrestadores[0].annos;
	            })
	            .catch(function (error, msj)
	            {
	                console.log(error, msj);
	            });
        },
    },
    mounted()
    {
        this.base=base;
        this.ListarPrestadores();
    }
}
</script>
