<template>
	<div class="container-fluid">
		<div class="row">
			<label  class="col-md-3">Seleccione el prestador del servicio</label>
			<div class="col-md-6">
				<select name="prestadorServicio" id="prestadorServicio" v-model="prestadorServicio" class="input form form-control">
					<option v-for="prestadores in arrayPrestadores" :key="prestadores.id" :value="prestadores.id">{{prestadores.nombre}}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<label  class="col-md-3">Seleccione la fecha</label>
			<div class="col-md-6">
				<datepicker :format="'yyyy-MM-dd'" v-model="date" @selected="Limpiar()" :input-class="'form form-control'"></datepicker>
			</div>
		</div>
		<div v-if="date!=''">
			<div class="row">
				<label  class="col-md-3">Seleccionó una unidad de negocio</label>
				<div class="col-md-9">
					<input type="text" class="form-control" v-model="costos_tipo_nombre" readonly style="background-color:#FFF">
				</div>
			</div>
			<div class="row">
				<label  class="col-md-3">Seleccionó un centro de costos</label>
				<div class="col-md-9">
					<input type="text" class="form-control" v-model="costos_nombre" readonly style="background-color:#FFF">
				</div>
			</div>
			<div class="row">
				<label  class="col-md-3">Seleccione el cup</label>
				<div class="col-md-9">
					<autocomplete
						placeholder="Ingrese el nombre o codigo"
						:source="base+'/cups/Search/'+date+'/'+prestadorServicio+'/'"
						@selected="SeleccionCup"
						>
					</autocomplete>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				Total CUP $<strong>{{valorcup}}</strong>
			</div>
			<div class="col-md-12">
				Total <strong>{{total}}</strong>
			</div>
			<div class="col-md-12">
				Diferencia 
				<label class="label label-danger" v-if="Diferencia<0">
				<strong>{{formatNumeric(Diferencia)}}</strong>
				</label>
				<label class="label label-success" v-if="Diferencia>0">
				<strong>{{formatNumeric(Diferencia)}}</strong>
				</label>
			</div>
			<div class="col-md-12">
				<button class="btn btn-success" @click="Listar()"><i class="fas fa-search"></i> Buscar</button>
			</div>
		</div>

		<br>
		<br>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<table  class="table table-hover">
						<thead>
							<tr>
								<th>Descripcion</th>
								<th>Codigo</th>
								<th>Nombre</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tbody  v-for="categorias in arrayCategorias" :key="categorias.id">
							<tr>
								<th :rowspan="categorias.detalle.length+1">{{categorias.descripcion}}</th>
							</tr>
							<tr v-for="detalles in categorias.detalle" :key="detalles.id">
								<td>{{detalles.codigo}}</td>
								<td>{{detalles.descripcion}}</td>
								<td>
									<div class="form-group has-feedback" :class="Diferencia<0?'has-error':''">
										<input class="form form-control input" :id="'valor_'+detalles.id" v-on:keyup.27="guardarFocsus()" @change="valor_total()" v-on:keyup.13="enter('valor_'+detalles.id)" type="text" v-model="detalles.valor"/>
										<span class="glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"  v-if="Diferencia!=0">
					<div class="alert alert-danger" role="alert" v-if="Diferencia<0">
						Diferencia 
						<strong>${{formatNumeric(Diferencia)}}</strong>
					</div>
				</div>
				<div class="col-md-6">
					<button id="guardar_anno" @click="guardar()" class="btn btn-success btn-focus"><i class="fa fa-save"></i> Guardar</button>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	const Swal = require('sweetalert2')
	import Vue from 'vue'
	import Datepicker from 'vuejs-datepicker';
	import Autocomplete from 'vuejs-auto-complete'
	export default {
	    components: {
	        Datepicker,
	        Autocomplete
	    },
	    data()
	    {
	        return{
				text:'',
	            costos_tipo_nombre:'',
	            costos_nombre:'',
	            arrayCategorias:[],
	            arrayYear:[],
	            year:'',
	            arrayPrestadores:[],
	            prestadorServicio:'',
	            arrayCups:[],
	            cupsCantidad:0,
	            cup:'',
	            valorcup:'',
	            Diferencia:0,
	            total:0,
	            date:'',
	            base:''
	        }
	    },
	    methods:{
			Limpiar()
			{
				let me = this;
				me.text='';
				me.valorcup='';
				me.arrayCups=[];
				me.arrayCategorias=[];
				//me.costos_tipo_nombre='';
				//me.costos_nombre='';
				me.total=0;
				me.Diferencia=0;
			},
	        SeleccionCup(data)
	        {
				let me = this;
				me.Limpiar();
	            me.cup                  = data.selectedObject.id_cups;
	            me.valorcup             = data.selectedObject.valor_tarifa
	            me.costos_nombre        = data.selectedObject.codigo_ceco + ' - ' + data.selectedObject.costos_nombre;
	            me.costos_tipo_nombre   = data.selectedObject.costos_tipo_nombre;
	        },
	        formatNumeric(value) {
	            let val = (value/1).toFixed(2).replace('.', ',')
	            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
	        },
	        formatFecha (){
	
	        },
	        valor_total()
	        {
	            let me = this;
	            var data2 = 0;
	            me.total=0;
	            $.each(me.arrayCategorias,function(index,data)
	            {
	                $.each(data.detalle,function(index2,data3)
	                {
	                    me.total= parseInt(me.total) + parseInt((data3.valor)==''?0:data3.valor);
	                });
	            });
	            me.Diferencia=me.valorcup-me.total;
	           
	        },
	        enter(id_actual)
				{
					var actual=false;
					var paso=false;
					$.each($('.input'),function(index,value)
					{
						if(actual)
						{
							$(value).focus();
							$(value).select();
							actual=false;
							paso=true;
						}
						if($(value).attr('id')==id_actual)
						{
							actual=true;
						}
					});
					if(!paso)
					{
						let me = this;
						me.guardarFocsus()
					}
				},
				guardarFocsus()
				{
					$('#guardar_anno').focus();
	            },
	            guardar()
	            {
		            let me=this;
		            axios.post(base+'/costos/saveCostos',{
	                    arrayCategorias:me.arrayCategorias,
	                    year:me.date,
	                    prestadorServicio:me.prestadorServicio,
	                    cup:me.cup
	                }).then(function (response) 
		            {
	                    Swal('guardado');
		            })
		            .catch(function (error, msj)
		            {
		                console.log(error, msj);
		            });
	            },
	            ListarPrestadores()
		        {
		            let me=this;
		            axios.get(base+'/prestadores/listRegister').then(function (response) 
		            {
						me.arrayPrestadores= response.data;
	                    me.prestadorServicio=me.arrayPrestadores[0].id;
	                    me.arrayYear=me.arrayPrestadores[0].annos;
		            })
		            .catch(function (error, msj)
		            {
		                console.log(error, msj);
		            });
	            },
	            ListarCups()
	            {
	                let me=this;
		            axios.post(base+'/cups/all',{year:me.date}).then(function (response) 
		            {
						me.arrayCups = response.data;
		            })
		            .catch(function (error, msj)
		            {
		                console.log(error, msj);
		            });
	            },
	        Listar()
	        {
				let me = this;
				me.arrayCategorias=[];
                axios.post(base+'/costos/listar',{
					year:me.date,
					prestador:me.prestadorServicio,
					id_cup:me.cup,
					fecha:me.date
					}).then(function (response) 
                {
					me.arrayCategorias = response.data;
					me.valor_total();
                })
                .catch(function (error, msj)
                {
                    console.log(error, msj);
                });
	        }
	    },
	    mounted()
	    {
	        this.base=base;
	        this.ListarPrestadores();
	        this.formatFecha();
	    }
	}
</script>