<template>
	<div>
		<div class="row">
            <notifications group="foo" />
			<label  class="col-md-3">Seleccione un año</label>
			<div class="col-md-6">
				<select name="year"  v-on:keyup.13="enter('year')"  @change="ListarCups()" id="year" v-model="year" class="input form form-control">
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
				</select>
			</div>
		</div>
		<div class="row">
			<label  class="col-md-3">Seleccione el prestador del servicio</label>
			<div class="col-md-6">
				<select name="prestadorServicio" @change="ListarTarifas()" id="prestadorServicio" v-on:keyup.13="enter('prestadorServicio')" v-model="prestadorServicio" class="input form form-control">
					<option v-for="prestadores in arrayPrestadores" :key="prestadores.id" :value="prestadores.id">{{prestadores.nombre}}</option>
				</select>
			</div>
		</div>
           	<div class="row">
		<label class="col-md-3">Seleccione una unidad de negocio</label>
		<div class="col-md-9">
			<select name="" id="" class="form form-control" @change="CentroCostos()" v-model="id_centro_costos_tipo">
				<option value="">Seleccione</option>
				<option v-for="(item,index) in arrayCentroCostoTipo" :value="item.id" :key="index">{{item.nombre}}</option>
			</select>
		</div>
	</div>
	<div class="row">
		<label class="col-md-3">Seleccione un centro de costos</label>
		<div class="col-md-9">
			<select class="form form-control" id="" v-model="id_centro_costos" @change="ListarCups()">
				<option value="">Seleccione</option>
				<option v-for="(item,index) in arrayCentroCosto" :value="item.id" :key="index">{{item.codigo_ceco}} - {{item.nombre}}</option>
			</select>
		</div>
	</div>
    <div class="row">
		<label class="col-md-3">Busqueda por codigo</label>
		<div class="col-md-9">
			<input type="text" class="form form-control" v-model="search">
		</div>
	</div>
    
	<div class="row">
			<label  class="col-md-3">Seleccione el porcentaje de la tarifa</label>
			<div class="col-md-6">
				<input type="number" min="-100" max="100" v-on:keyup="valorcups()" name="porcentaje" id="porcentaje" v-on:keyup.13="enter('prestadorServicio')" v-model="porcentaje" class="input form form-control">
			</div>
	</div>
        <div v-for="(cupsdata, index1) in arrayCups" :key="index1">
            <div v-for="(cupsdArray, index2) in cupsdata.centro_costos" :key="index2">
                <div v-if="cupsdArray.cups.length>0">
                <h3>{{cupsdArray.codigo_ceco}} - {{cupsdArray.nombre}}</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Codigo cup</th>
                            <th>Descripcion</th>
                            <th>tarifa</th>
                            <th>Valor original</th>
                        </tr>
                    </thead>
                    <tbody  v-for="(cups, index) in cupsdArray.cups" :key="index">
                        <tr  v-if="(search.length>0 && search==cups.codigo) || (search.length=='')">
                            <td width="5%">{{cups.id}}</td>
                            <td width="10%">{{cups.codigo}}</td>
                            <td width="45%">{{cups.nombre}}</td>
                            <td width="15%">
                                <input
                                type="number"
                                class="input Cupsarray form form-control" 
                                :id="'idcups_'+cups.id" 
                                v-on:keyup.13="enter('idcups_'+cups.id)"
                                v-on:keyup.27="guardarFocsus()"
                                v-model="cups.valor_tarifa"
                                >
                                </td>
                            <td width="15%"><input class="form-control" type="text" readonly :value="cups.valor_tarifa_original"></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
		<br>

		<button @click="Guardar()" id="guardar_anno" class="btn btn-success btn-focus"><i class="fa fa-save"></i> Guardar</button>
		<button @click="nuevo()"   id="nuevocup" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo cup</button>
	</div>
</template>
<script>
const Swal = require('sweetalert2');
export default {
    data() {
        return {
            arrayPrestadores: [],
            arrayCups: [],
            id_centro_costos:'',
            arrayCentroCosto:[],
            arrayCentroCostoTipo:[],
            id_centro_costos_tipo:'',
            prestadorServicio: '',
            year: '',
            porcentaje: '',
            search:'',
        }
    },
    methods: {
        valorcups()
        {
            let me = this;
            $.each(me.arrayCups,function(index,value)
            {
                $.each(value.centro_costos,function(index1,value1)
                {
                    $.each(value1.cups,function(index2,cups)
                    {
                        if(me.porcentaje==0||me.porcentaje=='')
                        {
                            cups.valor_tarifa=cups.valor_tarifa_original;
                        }
                        else
                        {
                            cups.valor_tarifa = 
                            parseFloat(cups.valor_tarifa_original) + parseFloat(cups.valor_tarifa_original * (me.porcentaje/100));
                        }
                    });
                });
            });
        },
        enter(id_actual) {
            var actual = false;
            var paso = false;
            $.each($('.input'), function(index, value) {
                if (actual) {
                    $(value).focus();
                    $(value).select();
                    actual = false;
                    paso = true;
                }
                if ($(value).attr('id') == id_actual) {
                    actual = true;
                }
            });
            if (!paso) {
                let me = this;
                me.guardarFocsus()
            }
        },
        guardarFocsus() {
            $('#guardar_anno').focus();
        },
        Guardar() {
            let me = this;
            me.$notify({group: 'foo',type: 'warn', title: 'Enviando',text:'Este proceso puede demorar, por favor espere.'});
            $('#guardar_anno,#nuevocup').attr('disabled','disabled')
            axios.post('/costos/save', {
                prestadorServicio: me.prestadorServicio,
                    year: me.year,
                    porcentaje: (me.porcentaje=='')?0:me.porcentaje,
                    cups:me.arrayCups
                }).then((response) => {
                    $('#guardar_anno,#nuevocup').removeAttr('disabled');
                    Swal('Guardado');
                    me.ListarCups();
                })
                .catch(function(error, msj) {
                    $('#guardar_anno,#nuevocup').removeAttr('disabled');
                    //console.log(error, msj);
                });
        },
        ListarTarifas()
        {
            let me = this;
            axios.post(base + '/costos/data', {
                    year: me.year,
                    prestadorServicio: me.prestadorServicio
                }).then(function(response) {
                    //console.log(response.data.porcentaje);
                    me.porcentaje = response.data.porcentaje;
                })
                .catch(function(error, msj) {
                    //console.log(error, msj);
                });
        },
        ListarCups() {
            let me = this;
            if(me.id_centro_costos=='')
            {
                me.arrayCups=[];
            }
            else
            {
                axios.post(base + '/cups/allcentrocostos', {
                    id_centro_costos_tipo:me.id_centro_costos_tipo,
                    id_centro_costos:me.id_centro_costos,
                    year: me.year,
                    id_prestador_servicio:me.prestadorServicio
                }).then(function(response) {
                    me.arrayCups = response.data;
                    me.ListarTarifas();
                })
                .catch(function(error, msj) {
                    //console.log(error, msj);
                });
            }
        },
        ListarPrestadores() {
            let me = this;
            axios.get(base + '/prestadores/list').then(function(response) {
                    me.arrayPrestadores = response.data;
                    me.prestadorServicio = me.arrayPrestadores[0].id;
                })
                .catch(function(error, msj) {
                    //console.log(error, msj);
                });
        },
        CentroCostos()
			{
				let me = this;
				axios.get(base+'/centrocostos/select/'+me.id_centro_costos_tipo).then(function (response) 
				{
                    me.arrayCentroCosto=response.data;
				})
	            .catch(function (error, msj)
	            {
	                //console.log(error, msj);
	            });
			},
			CentroCostoTipo()
			{
				let me = this;
				axios.get(base+'/centrocostos/all').then(function (response) 
				{
					me.arrayCentroCostoTipo=response.data;
				})
	            .catch(function (error, msj)
	            {
	                //console.log(error, msj);
	            });
			},
    },
    mounted() {
        let me = this;
        me.year = '2019';
        this.ListarPrestadores();
        this.CentroCostoTipo();
        this.ListarTarifas();
        $('#year').focus();
    }
}
</script>
<style>
	.btn-focus:focus {
	background-color: red;
	color:#FFF;
	}
</style>