<template>
<div class="container-fluid">
    <div class="row">
        <notifications group="foo" />
		<label class="col-md-3">Seleccione una unidad de negocio</label>
		<div class="col-md-9">
			<select name="" id="" class="form form-control" @change="CentroCostos()" v-model="id_centro_costos_tipo">
				<option value="">Seleccione</option>
				<option v-for="(item,index) in arrayCentroCostoTipo" :value="item.id" :key="index">{{item.nombre}}</option>
			</select>
		</div>
	</div>
	<div class="row">
		<label class="col-md-3">Seleccione un centro de costos</label>
		<div class="col-md-9">
			<select class="form form-control" id="" v-model="id_centro_costos" @change="Listarcups();">
				<option value="">Seleccione</option>
				<option v-for="(item,index) in arrayCentroCosto" :value="item.id" :key="index">{{item.codigo_ceco}} - {{item.nombre}}</option>
			</select>
		</div>
	</div>
    <div class="row">
		<label class="col-md-3">Busqueda por codigo</label>
		<div class="col-md-9">
			<input type="text" class="form form-control" v-model="search">
		</div>
	</div>
    
    <div class="row">

<div class="row"  v-for="(cups,index) in arrayCups" :key="index">
    <div v-for="(cup,ind1) in cups.centro_costos" :key="ind1">
        <div  v-if="cup.cups.length>0">
            <h3>{{cup.codigo_ceco}} - {{cup.nombre}}</h3>
            <table class="table" v-if="cup.cups.length>0">
                <tr>
                    <th>Cup</th>
                    <th>Nombre</th>
                    <th v-for="(Relacion,index) in arrayRelacion" :key="index">
                        {{Relacion.descripcion}}
                    </th>
                </tr>
                <tbody  v-for="(data,index3) in cup.cups" :key="index3">
                    <tr v-if="(search.length>0 && search==data.codigo) || (search.length=='')">
                        <td>{{data.codigo}}</td>
                        <td>{{data.nombre}}</td>
                        <td v-for="(selected,index2) in data.tipos" :key="index2">
                            <input  v-model="selected.selected" @click="cambiarEstado(data.id,arrayRelacion[index2].id,!selected.selected)" type="checkbox" name="" id="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
</div>
</template>

<script>
const Swal = require('sweetalert2');
export default {
    data()
    {
        return{
            search:'',
            arrayCups:[],
            arrayRelacion:[],
		    arrayCentroCosto:'',
            id_centro_costos:'',
		    id_centro_costos_tipo:'',				
            arrayCentroCostoTipo:'',
        }
    },
    methods:{
        CentroCostos()
		{
            let me = this;
            var data =(me.id_centro_costos_tipo=='')?-1:me.id_centro_costos_tipo;
			axios.get(base+'/centrocostos/select/'+data).then(function (response) 
			{
				me.arrayCentroCosto=response.data;
				me.Listarcups();
			});
		},
        cambiarEstado(id_cup,id_categoria,activo)
        {
            let me=this;
            axios.
            post(base+'/cups/relacionesSave',{
                id_cup:id_cup,
                id_categoria:id_categoria,
                activo:activo
            }).
            then(function (response) 
	        {
                me.$notify({group: 'foo',type: activo?null:'warn', title: 'Actualizado',text:((activo)?'Ahora se encuentra activo':'Ahora se encuentra inactivo')})            
	        })
	        .catch(function (error, msj)
	        {
	            //console.log(error, msj);
	        });
            console.log(id_cup,id_categoria,activo);
        },
        filtrar()
        {

        },
        Iniciar()
        {
            let me=this;
            me.ListarRelaciones();
            me.CentroCostoTipo();    
        },
        CentroCostoTipo()
		{
			let me = this;
			axios.get(base+'/centrocostos/all').then(function (response) 
			{
				me.arrayCentroCostoTipo=response.data;
			})
		},
        ListarRelaciones()
        {
            let me=this;
            axios.
            get(base+'/cups/relaciones').
            then(function (response) 
	        {
                me.arrayRelacion=response.data;
	        })
	        .catch(function (error, msj)
	        {
	            //console.log(error, msj);
	        });
        },
        Listarcups()
        {
            let me=this;
            axios.
            post(base+'/cups/cups_relaciones',{id_centro_costos_tipo:me.id_centro_costos_tipo,id_centro_costos:me.id_centro_costos}).
            then(function (response) 
	        {
                me.arrayCups=response.data
	        })
	        .catch(function (error, msj)
	        {
	            //console.log(error, msj);
	        });
        }
    },
    mounted()
    {
        this.Iniciar();
    }
}
</script>
