<template>
<div>
		<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
			<a class="navbar-brand mr-1" :href="base">Inventario</a>
		</nav>
	<div  id="wrapper">
		<ul class="sidebar navbar-nav">
			<li class="nav-item" :class="active==1?'active':''">
				<router-link :to="{ name: names[0].url }" class="nav-link">
					<i class="fas fa-file-invoice-dollar"></i>
					<span>Centro de costos</span>
				</router-link>
			</li>
			<li class="nav-item" @click="activar(2)" :class="active==2?'active':''">
					<a href="#" class="nav-link">
				<i class="fas fa-file-invoice-dollar"></i>
				<span>Nuevo costo</span>
				</a>
			</li>
			<li class="nav-item" @click="activar(3)" :class="active==3?'active':''">
					<a href="#" class="nav-link">
				<i class="fas fa-file-invoice-dollar"></i>
				<span>Relacion costos</span>
				</a>
			</li>
			<li class="nav-item" @click="activar(4)" :class="active==4?'active':''">
				<a href="#" class="nav-link">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>CUPS</span>				
				</a>
			</li>
			<li class="nav-item" @click="activar(10)" :class="active==10?'active':''">
				<a href="#" class="nav-link">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>CUPS totales</span>				
				</a>
			</li>
			
			<li class="nav-item" @click="activar(5)" :class="active==5?'active':''">
				<a href="#" class="nav-link">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Prestadores de servicio</span>				
				</a>
			</li>			
			<li class="nav-item" @click="activar(6)" :class="active==6?'active':''">
				<a href="#" class="nav-link">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Informes</span>				
				</a>
			</li>	
			<li class="nav-item" @click="activar(11)" :class="active==11?'active':''">
				<a href="#" class="nav-link">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Informes cups</span>				
				</a>
			</li>	
			
			<li class="nav-item" @click="activar(9)" :class="active==9?'active':''">
				<a href="#" class="nav-link">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>insumos</span>				
				</a>
			</li>			
			<li class="nav-item" @click="activar(7)" :class="active==7?'active':''">
				<a href="#" class="nav-link">
					<i class="fas fa-users-cog"></i>
					<span>Usuarios</span>				
					
				</a>
			</li>
			<li class="nav-item" @click="activar(8)" :class="active==8?'active':''">
				<a href="#" class="nav-link">
					<i class="fas fa-users-cog"></i>
					<span>Cambiar contraseña</span>
				</a>
			</li>
			<li class="nav-item" @click="activar(9)" :class="active==9?'active':''">
				<a href="/logout" class="nav-link">
					<i class="fas fa-sign-out-alt"></i>
					<span>Cerrar sesión</span>
				</a>
			</li>
			
		</ul>
		<div id="content-wrapper">
			<div class="container-fluid">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<router-link :to="{ name: name.url }">{{name.name}}</router-link>
					</li>
					<li class="breadcrumb-item"></li>
				</ol>
				<div class="card mb-3">
					<div class="card-header">
					</div>
					<div class="card-body">
						<router-view></router-view>
					</div>
				</div>
			</div>
		</div>
	</div>
			<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
		</a>
		</div>
</template>
<script>
	export default {
		data()
		{
			return {
				base,
				active:0,
				name:[],
				names :[
					{id:1, name:'Centro de costos',			url:'centrocostos'},
					{id:2, name:'Nuevo costo',				url:'centronew'},
					{id:3, name:'Relacion costos',			url:'ingresos_tipo'},
					{id:4, name:'CUPS',						url:'cups'},
					{id:5, name:'Prestadores de servicio',	url:'prestadores'},
					{id:6, name:'Informes',					url:'costosgastos'},
					{id:7, name:'Usuarios',					url:'users'},
					{id:8, name:'Cambiar contraseña',		url:'password'},
					{id:9, name:'Informe insumos',			url:'insumos'},
					{id:10,name:'Total cups',				url:'cupscantidad'},
					{id:11,name:'Informe cups',				url:'informes_cups'}
				 ]
			}
		},
		methods:{
			activar(id)
			{
				let me 		= this;
				me.active	= id;
				me.name 	= me.names[id-1];
				me.$router.push({ name: me.name.url});
				$('title').html(me.name.name);
			}
		},
		mounted()
		{
			let me = this;
			const resultado = me.names.find( name => name.url === this.$router.history.current.name );
			me.activar(resultado.id);
			me.base = base;
		}
	}
</script>