<template>
	<div>
		<table width="100%">
			<tr>
				<td width="50%" valign="top">
						<label for="">Fecha de inicio</label>
						<datepicker :format="'yyyy-MM-dd'" v-model="fechainicio" :input-class="'form-control'"></datepicker>
						<label for="">Fecha de inicio</label>
						<datepicker :format="'yyyy-MM-dd'" v-model="fechafin" :input-class="'form-control'"></datepicker>
						<br>
						<button @click="resumen()" class="btn btn-success"><i class="fa fa-search"></i> Buscar</button>
				</td>
				<td width="50%" valign="top">
						<label for="">Seleccione el año</label>
						<select v-model="year" class="form-control">
							<option value="">Seleccione un año</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
						</select>
						<label for="">Seleccione la EPS</label>
						<select v-model="eps" class="form-control">
							<option value="">EPS</option>
							<option v-for="(epss,index) in arrayEps" :value="epss.id" :key="index">{{epss.nombre}}</option>
						</select>
						<div>
                            <br>
						    <a v-if="year!=''" :href="base+'/costos/informesEps?year='+year" class="btn btn-success"><i class="fas fa-file-excel"></i> Descargar informe Total</a>
							<a v-if="year!='' && eps!='' " :href="base+'/costos/informes?id_eps='+eps+'&year='+year" class="btn btn-success"><i class="fas fa-file-excel"></i> Descargar informe por EPS</a>
                        </div>
				</td>
			</tr>
		</table>
		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
</template>
<script>
	import Datepicker from 'vuejs-datepicker';
	const Swal = require('sweetalert2')
	export default {
	    data(){
	        return{
	            base:'',
	            arrayPrestadores:[],
	            fechainicio:'',
	            fechafin:'',
	            year:'',
	            eps:'',
	            arrayEps:[]
	        }
	    },
	    components: 
	    {
	        Datepicker
	    },
	    methods:{
	        graficar(series,categorias)
	        {
	            let me = this;
	            var res={
	                chart: {
	                    type: 'column'
	                },
	                title: {
	                    text: 'ingresos'
	                },
	                xAxis: {
	                    categories: categorias,
	                    crosshair: true,
	                    
	                },
	                yAxis: {
	                    min: 0,
	                    title: {
	                        text: 'Valores'
	                    },
	                    labels: {
	                        format: '{value}'
	                    }
	                },
	                tooltip: {
	                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	                        '<td style="padding:0"><b>${point.y:0f}</b></td></tr>',
	                    footerFormat: '</table>',
	                    shared: true,
	                    useHTML: true
	                },
	                plotOptions: {
	                    series: {
	                        cursor: 'pointer',
	                        point: {
	                            events: {
	                                click: function () 
	                                {
	                                    var url='/tipo/'+this.category;
	                                    me.$router.push(url);
	                                }
	                            }
	                        }
	                    },
	                    column: {
	                        pointPadding: 0.2,
	                        borderWidth: 0
	                    }
	                },
	                series:series
	            };
	            Highcharts.chart('container', res);
	        },
	        formatearfecha(fecha)
	        {
	            var f = new Date(fecha);
	           return f.getFullYear() + "-" + (f.getMonth() +1) + "-" + f.getDate()
	        },
	
	        resumen()
	        {
	            let me = this;
	            var fechainicio=me.formatearfecha(me.fechainicio);
	            var fechafin=me.formatearfecha(me.fechafin);
	            axios.get(base+'/cups/InformeCostosGastos/'+fechainicio+'/'+fechafin).then(function (response) 
		        {
	                var respuesta= response.data;
	                me.graficar(respuesta.series,respuesta.categorias)
		        });
	        },
	        Inicio()
	        {
	            let me = this;
	            axios.get(base+'/prestadores/list').then(function (response) 
		        {
	                var respuesta= response.data;
	                me.arrayEps=respuesta;
		        });
	        }
	    },
		mounted() {
	        this.base = base;
	        this.Inicio();
		}
	}
</script>