<template>
    <div>
        <h1 align="center">{{this.$route.params.nombre}}</h1>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
            {{arrayInsumos}}
        </div>
    </div>
</template>
<script>
const Swal = require('sweetalert2')
export default {
    data(){
        return{
            arrayInsumos:[]
        }
    },
    methods:
    {
        resumen()
        {
            let me = this;
            var fechaInicio='2019-06-01';
            var fechaFin='2019-06-10';
            axios.get(base+'/costos/informesInsumos?fechaInicio='+fechaInicio+'&fechaFin='+fechaFin).
            then(function (response) 
	        {
               arrayInsumos=response.data;
	        });
        }
    },
	mounted() {
        //this.resumen();
	}
}
</script>
