<template>
    <div class="container-fluid">
        <div class="col-md-4">
            <label for="">Seleccione el tipo de grafica</label>
            <select v-model="TypeChar" @change="graficar()" class="form form-control">
                <option v-for="(item,index) in arrayTypeChar" :key="index" :value="item.type">{{item.name}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="">Seleccione la fecha de inicio</label>
            <datepicker :format="'yyyy-MM-dd'" v-model="fechaInicio" :input-class="'form-control'"></datepicker>
        </div>
        <div class="col-md-4">
            <label for="">Seleccione la fecha de fin</label>
            <datepicker :format="'yyyy-MM-dd'" v-model="fechaFin" :input-class="'form-control'"></datepicker>
        </div>
        <div class="col-md-12">
            <br>
            <button class="btn btn-success" @click="resumen()"><i class="fas fa-search"></i> Buscar</button>
        </div>
        

        <div class="col-md-12">
            <div id="container"></div>
        </div>
    </div>
</template>
<script>
import Datepicker from 'vuejs-datepicker';
const Swal = require('sweetalert2')
export default {
    data(){
        return{
            arrayInsumos:[],
            rangoFechas:[],
            fechaInicio:'',
            fechaFin:'',
            arrayTypeChar:[
                {
                    type:'line',
                    name:'Lineas'
                },
                {
                    type:'column',
                    name:'Columnas'
                },
                {
                    type:'bar',
                    name:'Barras'
                },
                
                ],
            TypeChar:'line'
        }
    },
    components: 
	{
	    Datepicker
	},
    methods:{
        graficar()
        {
            let me = this;
            Highcharts.chart('container', {
                chart: {
                    type: me.TypeChar
                },
                title: {
                    text: 'Costos insumos medicos'
                },

                xAxis: {
                    categories: me.rangoFechas
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        }
                    }
                },
                series: me.arrayInsumos,
                credits: {
                    enabled: false
                },
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
        },
        resumen()
        {
            let me = this;
            if(me.fechaInicio!='' && me.fechaFin!='')
            {
                var fechaInicio =   me.fechaInicio.getDate() + '-' + (me.fechaInicio.getMonth() +1) + "-" + me.fechaInicio.getFullYear();
                var fechaFin    =   me.fechaFin.getDate()    + '-' + (me.fechaFin.getMonth() +1)    + "-" + me.fechaFin.getFullYear();
                axios.get(base+'/costos/informesInsumos?fechaInicio='+fechaInicio+'&fechaFin='+fechaFin)
                .then(function (response) 
                {
                    me.arrayInsumos = response.data.data.value;
                    me.rangoFechas  = response.data.data.Fechas;
                    me.graficar()
                });
            }
            else
            {
                Swal('Debe seleccionar las dos fechas');
            }
        }
    },
	mounted() {
        this.base=base;
        //this.resumen();
	}
}
</script>
