<template>
    <div class="container-fuid">
        <div class="col-md-6">
            <label for="">Seleccione la EPS</label>
            <select v-model="eps" class="form-control">
				<option value="">EPS</option>
				<option v-for="(epss,index) in arrayEps" :value="epss.id" :key="index">{{epss.nombre}}</option>
			</select>
        </div>
        <div class="col-md-6">
			<label  >Seleccione la fecha</label>
			<datepicker @selected="selected" :format="'yyyy-MM-dd'" :input-class="'form form-control'"></datepicker>
        </div>
        <div class="col-md-6">
            <a v-if="fecha!='' ||eps!='' " :href="base+'/costos/InformesCupsXPrestador?fecha='+fecha+'&eps='+eps" class="btn btn-success">Descargar informe</a>
        </div>
    </div>
</template>

<script>
const Swal = require('sweetalert2')

    import Datepicker from 'vuejs-datepicker';
    export default 
    {
        components: {
            Datepicker,
        },
	    data ()
	    {
            return {
                url:'',
                base:'',
                eps:'',
                fecha:'',
                arrayEps:[]
            }
        },
        methods:
        {
            selected(data)
            {
                var f = new Date(data);
                this.fecha=(f.getFullYear() + "-" + ((f.getMonth() +1)<10?'0'+(f.getMonth() +1):(f.getMonth() +1)) + "-" + (f.getDate()<10?'0'+f.getDate():f.getDate()) );
                
            },            
	        Inicio()
	        {
	            let me = this;
	            axios.get(base+'/prestadores/list').then(function (response) 
		        {
	                var respuesta= response.data;
	                me.arrayEps=respuesta;
		        });
	        }
        },
        mounted() 
        {
            this.base = base;
            this.Inicio();
	    }
    }
</script>