<template>
        <div class="container-fluid">
            <div>
                <div class="col-md-6">
                    <label>Nombre</label>
                    <input class="form form-control" name="nombre" id="nombre" v-model="nombre" required>
                </div>
                <div class="col-md-12">
                    <label>Descripcion</label>
                    <textarea  class="form form-control" name="descripcion" id="descripcion" v-model="descripcion" required></textarea>
                </div>
                <br/>
                <div class="col-md-12">
                    <button @click="guardar()" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar </button>
                </div>
            </div>
    </div>
</template>

<script>
export default {
    data()
    {
        return{
            id:'',
            nombre:'',
            descripcion:''
        }
    },
    methods:{
        guardar()
        {
            let me=this;
	        axios.post(base+'/prestadores/newsave/',{
                nombre:me.nombre,
                descripcion:me.descripcion
            }).then(function (response) 
	        {
                me.$router.push('/dashboard/prestadores');
	        })
	        .catch(function (error, msj)
	        {
	            console.log(error, msj);
	        });
        }
    },
    mounted()
    {
    }
}
</script>
