<template>
    <div class="container-fluid">
        <div class="col-md-12">
        <router-link :to="{ name: 'prestadoresnew' }"  class="btn btn-success"><i class="fa fa-plus"></i> Nuevo</router-link>
        </div>
        <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Opciones</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="prestador in arrayPrestadores" :key="prestador.id">
                    <td>
                        <button @click="editar(prestador.id)" class="btn btn-warning" ><i class="fas fa-pencil-alt"></i> Editar</button>
                        <button @click="borrar(prestador)" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Borrar</button>
                    </td>
                    <td>
                        {{prestador.nombre}}
                    </td>
                    <td>
                        {{prestador.descripcion}}
                    </td>
                    
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</template>
<script>
const Swal = require('sweetalert2')
export default {
    data(){
        return{
            arrayPrestadores:[]
        }
    },
    methods:{
        editar(id)
        {
            let me = this;
			me.$router.push('/dashboard/prestadores/edit/'+id);
        },
        list()
        {
            let me=this;
	        axios.get(base+'/prestadores/list').then(function (response) 
	        {
                var respuesta= response.data;
	            me.arrayPrestadores=respuesta;
	        })
	        .catch(function (error, msj)
	        {
	            console.log(error, msj);
	        });
        },borrar(data)
		{
            console.log(data);
				Swal({
					title: 'Borrando',
					text: 'Va a borrar "'+data.nombre+'" ¿Está seguro?',
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Si, borralo',
					cancelButtonText: 'Cancelar'
				}).then((result) => 
				{
					if (result.value) 
					{
						let me = this;
						axios.post('/prestadores/delete',{id:data.id}).then(function (response) 
						{
							me.list();
							Swal('Borrado','"'+data.nombre+'" ha sido borrado con éxito','success')
						})
					}
					else if (result.dismiss === Swal.DismissReason.cancel)
					{
						Swal('Cancelado','No se ha eliminado "'+data.nombre+'"','error')
					}
				})
			}
    },
	mounted() {
        this.list();
	}
}
</script>
